.div-parent{
    height: 80vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.div-child{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
    border: solid 1px black;
    border-radius: 15px;
}

.div-child-heading{
    color: black;
    text-align: center;

}

.div-child-heading p{
    text-align: center;
    font-weight: bolder;
}
.div-child-img{
    align-items: center;
}
.div-img{
    height: 50px;
}